<!-- Footer -->
<!-- <div class="col-md-6" style="width: 100%;height: 60px;background-color: aqua;z-index: 9001;position: fixed;bottom: 0;">
    <div class="copyright-text">
        <p>Diese Webseite nutzt Cookies, um bestmögliche Funktionalität bieten zu können <a target="_blank" href="https://vakifglobal.com/"> Vakıf Global</a>  All rights reserved</p>
    </div>
</div> -->
<footer class="footer">	
    
    <!-- Footer Top -->	
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">ZSU Reisen</h5>
                                <a [routerLink]="routes.home" class="navbar-brand logo">
                                    <!-- <img src="assets/img/logo/378x238.png" style="width: 35%;margin-top: -8%;" class="img-fluid" alt="Logo" /> -->
                                  </a>
                                  <p style="text-align: justify;">ZSU Reisen (D&B Trade GmbH) bir DİTİB kuruluşudur. Amacı; DİTİB derneklerinde aşırı kar amacı gütmeden ve alman kanunlarının hassasiyetlerini dikkate alarak Ataşeliklerimizin, Eyalet Birliklerimizin ve Derneklerimizin arzu, istek ve ihtiyaçlarını dikkate alarak eğitim , kültür ve Dini Turlar düzenlemektir.</p>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                       
                        <div class="col-lg-4 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">Gizlilik Politikası</h5>
                                <ul>
                                    <li>
                                        <a href="pages/terms-condition">AGB</a>
                                    </li>
                                    <li>
                                        <a href="/pages/privacy-policy">Impressum</a>
                                    </li>
                                    <li>
                                        <a href="pages/terms-condition">Datenschutzerklärung</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Disclaimer</a>
                                    </li>
                                    								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="footer-contact footer-widget">
                        <h5 class="footer-title">İletişim bilgileri </h5>
                        <div class="footer-contact-info">									
                            <div class="footer-address">											
                                <span><i class="feather icon-phone-call"></i></span>
                                <div class="addr-info">
                                    <a href="tel:{{getsettinphoneModel?.name}}">{{getsettinphoneModel?.value}}</a>
                                </div>
                            </div>
                            <div class="footer-address">
                                <span><i class="feather icon-mail"></i></span>
                                <div class="addr-info">
                                    <a href="mailto:{{getsettinggmailModel?.value}}">{{getsettinggmailModel?.value}}</a>
                                </div>
                            </div>
                        </div>								
                        <div class="footer-social-widget">
                            <h6>Sosyal Medyalarımız</h6>
                            <ul class="nav-social">
                                <li>
                                    <a href="{{getfacebookModel?.value}}" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                </li>
                                <li>
                                    <a  href="{{getyoutubeModel?.value}}" target="_blank"><i style="background-color: #f44336;" class="fab fa-youtube fi-icon"></i></a>
                                </li>
                                <li>
                                    <a  href="{{getinstagramModel?.value}}" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                </li>
                                <!-- <li style="font-size: 0px;
                                cursor: pointer;
                                text-align: center;
                                position: relative;
                                z-index: 1;
                                overflow: hidden;
                                border-radius: 50px;
                                min-width: 36px;
                                height: 36px;
                                transition: background 0.3s, color 0.3s, box-shadow 0.3s;background-color: black;">
                                    <a  href="{{gettwitterModel?.value}}" target="_blank"><i> <img style="width: 18px;height: 20px;margin-top: 7px;" src="assets/img/twitter-x-logo.svg"  alt=""></i></a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-6" style="margin: auto;">
                        <div class="copyright-text">
                            <p>© Designed and Developed by <a target="_blank" href="https://vakifglobal.com/"> <img src="assets/img/vg-logo.png" alt="" style="width: 150px;"> </a></p>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="copyright-menu">
                            <div class="vistors-details">
                                <ul class="d-flex">											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
                                </ul>										   								
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>