<div class="modal-dialog modal-frame modal-bottom" style="bottom: 0;z-index: 9001;position: fixed;width: 100%;background-color: #ffff;">
    <div class="modal-content">
      <div class="modal-body py-1">
        <div class="d-flex justify-content-center align-items-center my-3">
          <p class="mb-0">We use cookies to improve your website experience</p>
          <button (click)="isPrivacy(1)" type="button" class="btn btn-success btn-sm ms-2" data-mdb-dismiss="modal">
            Ok, thanks
          </button>
          <button  type="button" routerLink="/pages/terms-condition" class="btn btn-primary btn-sm ms-2" >Learn more</button>
        </div>
      </div>
    </div>
  </div>
