<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Datenschutzerklärung</h2>
                <!-- <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                    </ol>
                </nav>							 -->
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->		     	

<!-- Terms & Conditions -->
<section class="privacy-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-policy">
                    <h3>(1) Besuch der Website /Hosting</h3>
                    <p data-aos="fade-down" style="text-align: justify;">Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu machen. Bei
                        jedem Aufruf einer Webseite speichert der Webserver automatisch lediglich ein sogenanntes
                        Server-Logfile, das z.B. den Namen der angeforderten Datei, Ihre IP-Adresse, Datum und
                        Uhrzeit des Abrufs, übertragene Datenmenge und den anfragenden Provider (Zugriffsdaten)
                        enthält und den Abruf dokumentiert. Diese Zugriffsdaten werden ausschließlich zum Zwecke
                        der Sicherstellung eines störungsfreien Betriebs der Seite sowie der Verbesserung unseres
                        Angebots ausgewertet. Dies dient der Wahrung unserer im Rahmen einer
                        Interessensabwägung überwiegenden berechtigten Interessen an einer korrekten
                        Darstellung unseres Angebots gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO. Alle Zugriffsdaten
                        werden spätestens sieben Tage nach Ende Ihres Seitenbesuchs gelöscht.</p>
                    <hr>
                    <h3>2 Information über die Erhebung personenbezogener Daten</h3>
                    <p data-aos="fade-down" style="text-align: justify;">2.1 Herzlich Willkommen auf unserer Webseite. Im Folgenden informieren wir Sie über den
                        Umgang mit Ihren personenbezogenen Daten bei der Nutzung unserer Website.
                        Personenbezogene Daten sind hierbei alle Daten, mit denen Sie persönlich identifiziert
                        werden können. <br>
                        
                        2.2 Verantwortlicher für die Datenverarbeitung auf dieser Website im Sinne der Datenschutz-
                        Grundverordnung (DSGVO) ist:<br>
                        
                        Name des GF<br>
                        D&B Trade GmbH<br>
                        Adresse<br>
                        E-Mail:<br>
                        Tel:<br>
                        Verantwortliche Person ist die natürliche oder juristische Person, die allein oder gemeinsam
                        mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
                        (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet
                        2.3 Diese Website nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
                        personenbezogener Daten und anderer vertraulicher Inhalte (z.B. Bestellungen oder
                        Anfragen an den Verantwortlichen) eine SSL-bzw. TLS-Verschlüsselung.</p>
                  <hr>
                    <h3>(3) Cookies</h3>
                    <p data-aos="fade-down" style="text-align: justify;">Um den Besuch unserer Website attraktiv zu gestalten und die Nutzung bestimmter
                        Funktionen zu ermöglichen, verwenden wir auf verschiedenen Seiten sogenannte Cookies.
                        Die Cookies sind die Textdateien, die auf Ihrem Endgerät abgelegt werden. Einige der von
                        uns verwendeten Cookies werden nach dem Ende der Browser-Sitzung, also nach
                        Schließen Ihres Browsers, wieder gelöscht (sog. Sitzungs-Cookies). Andere Cookies
                        verbleiben auf Ihrem Endgerät und ermöglichen, Ihren Browser beim nächsten Besuch
                        wiederzuerkennen (sog. persistente
                        Cookies). Werden Cookies gesetzt, erheben und verarbeiten diese im individuellen Umfang
                        bestimmte Nutzerinformationen wie Browser- und Standortdaten sowie IP-Adresswerte.
                        
                        Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich
                        je nach Cookie unterscheiden kann. Die Dauer der jeweiligen Cookie-Speicherung können
                        Sie der Übersicht zu den Cookie-Einstellungen Ihres Webbrowsers entnehmen.
                        Teilweise dienen die Cookies dazu, durch Speicherung von Einstellungen den
                        Bestellprozess zu vereinfachen (z.B. Merken des Inhalts eines virtuellen Warenkorbs für
                        einen späteren Besuch auf der Website). Sofern durch einzelne von uns eingesetzte Cookies
                        auch personenbezogene Daten verarbeitet werden, erfolgt die Verarbeitung gemäß Art. 6
                        Abs. 1 lit. b DSGVO entweder zur Durchführung des Vertrages, gemäß Art. 6 Abs. 1 lit. a
                        DSGVO im Falle einer erteilten Einwilligung oder gemäß Art. 6 Abs. 1 lit. f DSGVO zur
                        Wahrung unserer berechtigten Interessen an der bestmöglichen Funktionalität der Website
                        sowie einer kundenfreundlichen und effektiven Ausgestaltung des Seitenbesuchs.
                        Bitte beachten Sie, dass Sie Ihren Browser so einstellen können, dass Sie über das Setzen
                        von Cookies informiert werden und einzeln über deren Annahme entscheiden oder die
                        Annahme von Cookies für bestimmte Fälle oder generell ausschließen können. Jeder
                        Browser unterscheidet sich in der Art, wie er die Cookie-Einstellungen verwaltet. Diese ist in
                        
                        dem Hilfemenü jedes Browsers beschrieben, welches Ihnen erläutert, wie Sie Ihre Cookie-
                        Einstellungen ändern können. Diese finden Sie für die jeweiligen Browser unter den
                        
                        folgenden Links:
                        
                        - Internet Explorer: https://support.microsoft.com/de-de/help/17442/windows-internet-
                        explorer-delete-manage-cookies
                        
                        - Firefox: https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen
                        - Chrome: https://support.google.com/chrome/answer/95647?hl=de&hlrm=en
                        - Safari: https://support.apple.com/de-de/guide/safari/sfri11471/mac
                        - Opera: https://help.opera.com/de/latest/web-preferences/#cookies
                        Bitte beachten Sie, dass bei Nichtannahme von Cookies die Funktionalität unserer Website
                        eingeschränkt sein kann.
                        Einsatz von Google Diensten
                        Wir verwenden die nachfolgend dargestellten Technologien der Google Ireland Ltd., Gordon
                        House, Barrow Street, Dublin 4, Irland („Google“). Die durch die Google Technologien
                        automatisch erhobenen Informationen über Ihre Nutzung unserer Webseite werden in der
                        Regel an einen Server der Google LLC, 1600 Amphitheatre Parkway Mountain View, CA
                        94043, USA übertragen und dort gespeichert. Für die USA liegt kein
                        Angemessenheitsbeschluss der Europäischen Kommission vor. Unsere Kooperation stützt
                        
                        sich auf Standarddatenschutzklauseln der Europäischen Kommission. Sofern Ihre IP-
                        Adresse über die Google Technologien erhoben wird, wird sie vor der Speicherung auf den
                        
                        Servern von Google durch die Aktivierung der IP-Anonymisierung gekürzt. Nur in
                        Ausnahmefällen wird die volle IP-Adresse an einen Server von Google übertragen und dort
                        gekürzt. Soweit bei der einzelnen Technologien nichts Abweichendes angeben ist, erfolgt die
                        Datenverarbeitung auf Grundlage einer für die jeweilige Technologie geschlossenen
                        Vereinbarung zwischen gemeinsam Verantwortlichen gemäß Art. 26 DSGVO.
                        Weitergehende Informationen über die Datenverarbeitung durch Google finden Sie in den
                        Datenschutzhinweisen von Google (https://policies.google.com/privacy?hl=de).
                        Google Analytics
                        Zum Zweck der Webseitenanalyse werden mit Google Analytics Daten (IP-Adresse,
                        Zeitpunkt des Besuchs, Geräte- und Browser-Informationen sowie Informationen zu Ihrer
                        
                        Nutzung unserer Webseite) automatisch erhoben und gespeichert, aus denen unter
                        Verwendung von Pseudonymen Nutzungsprofile erstellt werden. Hierzu können Cookies
                        eingesetzt werden. Ihre IP-Adresse wird grundsätzlich nicht mit anderen Daten von Google
                        zusammengeführt. Die Datenverarbeitung erfolgt auf Grundlage einer Vereinbarung über die
                        Auftragsverarbeitung durch Google.
                        Zum Zwecke der optimierten Vermarktung unserer Webseite haben wir die
                        Datenfreigabeeinstellungen für "Google-Produkte und -Dienste" aktiviert. So kann
                        Google auf die von Google Analytics erhobenen und verarbeiteten Daten zugreifen und
                        anschließend zur Verbesserung der Google-Dienste verwenden. Die Datenfreigabe an
                        Google im Rahmen dieser Datenfreigabeeinstellungen erfolgt auf Grundlage einer
                        zusätzlichen Vereinbarung zwischen Verantwortlichen. Wir haben keinen Einfluss auf die
                        anschließende Datenverarbeitung durch Google.
                        Zur Erstellung und Durchführung von Tests verwenden wir zudem die Erweiterungsfunktion
                        von Google Analytics Google Optimize.
                        Zur Webanalyse wird durch die Erweiterungsfunktion von Google Analytics Google Signals
                        ein sog. „Cross-Device Tracking“ ermöglicht. Soweit Ihre internetfähigen Geräte mit Ihrem
                        Google-Konto verknüpft sind und Sie die Einstellung „personalisierte Werbung“ in Ihrem
                        Google Konto aktiviert haben, kann Google Berichte über Ihr Nutzungsverhalten (insb. die
                        geräteübergreifenden Nutzerzahlen) erstellen, auch wenn Sie Ihr Endgerät wechseln. Eine
                        Verarbeitung von personenbezogenen Daten durch uns findet insoweit nicht statt, wir
                        erhalten lediglich auf Basis von Google Signals erstellte Statistiken.
                        Zu Webanalyse und Werbezwecken wird durch die Erweiterungsfunktion von Google
                        Analytics das sog. DoubleClick-Cookie eine Wiedererkennung Ihres Browsers beim Besuch
                        anderer Webseiten ermöglicht. Google wird diese Informationen benutzen, um Reports über
                        die Webseitenaktivitäten zusammenzustellen und um weitere mit der Webseitennutzung
                        verbundene Dienstleistungen zu erbringen.
                        Google Maps
                        Zur visuellen Darstellung von geographischen Informationen werden durch Google Maps
                        Daten über Ihre Nutzung der Maps-Funktionen, insbesondere die IP-Adresse sowie
                        Standortdaten, erhoben, an Google übermittelt und anschließend von Google verarbeitet.
                        Wir haben keinen Einfluss auf diese anschließende Datenverarbeitung.
                        YouTube Video Plugin
                        Zur Einbindung von Inhalten Dritter werden über das YouTube Video Plugin in dem von uns
                        verwendeten erweiterten Datenschutzmodus Daten (IP-Adresse, Zeitpunkt des Besuchs,
                        Geräte- und Browser-Informationen) erhoben, an Google übermittelt und anschließend von
                        Google verarbeitet, nur wenn Sie ein Video abspielen.</p>
                    <hr>
                    <h3>(4) Social Media Plugins </h3>
                    <p data-aos="fade-down" style="text-align: justify;">4.1 Facebook/Instagram/Whatsapp (Meta) ist ein Angebot der Meta Ireland Ltd., 4 Grand
                        Canal Square, Dublin 2, Irland („Meta Ireland“) Die durch Meta Ireland automatisch
                        
                        erhobenen Informationen über Ihre Nutzung unserer Online-Präsenz auf Facebook /
                        Instragram / Whatsapp werden in der Regel an einen Server der Meta, Inc., 1601 Willow
                        Road, Menlo Park, California 94025, USA übertragen und dort gespeichert. Für die USA liegt
                        kein Angemessenheitsbeschluss der Europäischen Kommission vor. Unsere Kooperation
                        stützt sich auf Standarddatenschutzklauseln der Europäischen Kommission. Die
                        Datenverarbeitung im Rahmen des Besuchs einer Facebook Fanpage erfolgt auf Grundlage
                        einer Vereinbarung zwischen gemeinsam Verantwortlichen gemäß Art. 26 DSGVO. Weitere
                        Informationen (Informationen zu Insights-Daten) finden Sie hier.</p>
                    <hr>
                    <h3>(5) Kontaktaufnahme bei Nutzung des Kontaktformulars oder E-Mails</h3>
                    <p data-aos="fade-down" style="text-align: justify;">Im Rahmen der Kontaktaufnahme per Kontaktformular oder E-Mail werden
                        personenbezogene Daten erhoben. Welche Daten im Falle eines Kontaktformulars erhoben
                        werden, ist aus dem jeweiligen Kontaktformular ersichtlich. Diese Daten werden
                        ausschließlich zum Zweck der Beantwortung Ihres Anliegens bzw. für die Kontaktaufnahme
                        und die damit verbundene technische Administration gespeichert und verwendet.
                        Rechtsgrundlage für die Verarbeitung dieser Daten ist unser berechtigtes Interesse an der
                        Beantwortung Ihres Anliegens gemäß Art. 6 Abs. 1 lit. f DSGVO. Zielt Ihre Kontaktierung auf
                        den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung
                        Art. 6 Abs. 1 lit. b DSGVO. Ihre Daten werden nach abschließender Bearbeitung Ihrer
                        Anfrage gelöscht. Dies ist der Fall, wenn sich aus den Umständen entnehmen lässt, dass der
                        betroffene Sachverhalt abschließend geklärt ist und sofern keine gesetzlichen
                        Aufbewahrungspflichten entgegenstehen.</p>
                    <hr>
                    <h3>(6) Erhebung, Verarbeitung und Nutzung personenbezogener Daten bei Eröffnung
                        eines Kundenkontos</h3>
                    <p data-aos="fade-down" style="text-align: justify;">Gemäß Art. 6 Abs. 1 lit. b DSGVO werden personenbezogene Daten weiterhin erhoben und
                        verarbeitet, wenn Sie uns diese zur Durchführung eines Vertrages oder bei der Eröffnung
                        eines Kundenkontos mitteilen. Welche Daten erhoben werden, ist aus den jeweiligen
                        Eingabeformularen ersichtlich. Eine Löschung Ihres Kundenkontos ist jederzeit möglich und
                        kann durch eine Nachricht an die o.g. Adresse des Verantwortlichen erfolgen. Wir speichern
                        und verwenden die von Ihnen mitgeteilten Daten zur Vertragsabwicklung. Nach vollständiger
                        Abwicklung des Vertrages oder Löschung Ihres Kundenkontos werden Ihre Daten mit
                        
                        Rücksicht auf steuer- und handelsrechtliche Aufbewahrungsfristen gesperrt und nach Ablauf
                        dieser Fristen gelöscht, sofern Sie nicht ausdrücklich in eine weitere Nutzung Ihrer Daten
                        eingewilligt haben oder eine gesetzlich erlaubte weitere Datenverwendung von unserer Seite
                        vorbehalten wurde.</p>
                    <hr>
                

                      
                </div>
            </div>
        </div>		
    </div>	
</section>	
<!-- /Terms & Conditions -->